doctype html
html
    head
        title= title + " | E17 - ITTWEB-01 Webudvikling - Gruppe 7 - Mandatory assignment 3"
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/cerulean.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        a(class="github-fork-ribbon fixed left-bottom" href="https://github.com/jeppestaerk/ITTWEB-Assignment2-FitnessApp" title="Fork on GitHub")

        div.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(href="/") E17 - ITTWEB-01 Webudvikling - Gruppe 7 - Mandatory assignment 3

        div.container
            block content

        block scripts
            script(src='/dist/inline.85ec3b31249887e34525.bundle.js')
            script(src='/dist/polyfills.d8d3d78a4deb2ab66856.bundle.js')
            script(src='/dist/vendor.2f373e1b10d645da7699.bundle.js')
            script(src='/dist/main.de70fc26ead4c403ba44.bundle.js')
