doctype html
html
    head
        title= title + " | E17 - ITTWEB-01 Webudvikling - Gruppe 7 - Mandatory assignment 3"
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/cerulean.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        div.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header
                    a.navbar-brand(href="/") E17 - ITTWEB-01 Webudvikling - Gruppe 7 - Mandatory assignment 3

        div.container
            block content

        block scripts
            script(src='/build/inline.461d723865151b6d0679.bundle.js')
            script(src='/build/polyfills.d8d3d78a4deb2ab66856.bundle.js')
            script(src='/build/vendor.e46d225c2d6d0fe93cb7.bundle.js')
            script(src='/build/main.6bb6d337e232f5a566d1.bundle.js')
